html, body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    box-sizing: border-box;
}
.logo{
    position: fixed;
    width: 400px;
    height: auto;
    right: 40px;
    top: 20px;
    z-index: -1;

}
.logo img{
    width: 100%;
}
.slide {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.slide img {
    margin-top: 100px;
    border-radius: 10px;
    max-width: 80%;
    max-height:75%;
    width: auto;
    height: auto;
    /* border:1px solid red; */
}
.slide-number {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: white;
    font-size: 2rem;
    opacity: 0.8;
}
.barra{
    position: fixed;
    width: 100%;
    height: 52px;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.barra img{
    width: 100%;
    z-index: 10;
}